@model BookShop.Models.Classification

@{
    ViewBag.Title = "AddNew";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<br><br>

<h2 class="text-info">Add classification</h2>
<hr>

<div>
    <form action="/Admin/AddNewClassification" method="post" onsubmit="return isValid()">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label>Name :</label>
        <div>
            <input type="text" name="name" id="classificationName" class="form-control w-50" maxlength="20" />
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" ,id= "ErrorMsg" })
        </div><br>
        <input type="submit" value="Save" class="btn btn-info" />

    </form>
</div>
<hr />



<div>

    <button onclick="window.history.back()" class="btn btn-info" title="Back"><i class="fa fa-arrow-left"></i></button>
</div>
<script>
    function isValid() {
        var classificationName = document.getElementById("classificationName").value;
        if (classificationName.trim() == "") {
            document.getElementById("ErrorMsg").innerHTML = "Classification name can not be empty .";
            return false;
        }
        else if (classificationName.trim().length < 3) {
            document.getElementById("ErrorMsg").innerHTML = "Classification name must be at least 3 characters .";
            return false;
        }
        else {
            document.getElementById("ErrorMsg").innerHTML = "";
            return true;
        }
    }
</script>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
